.listing_container{

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.listing_title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
}

.listing_btns{
  display: flex;
  align-items: center;
  gap: 30px;
}

.listing_btn{
  padding: 10px;
  cursor: pointer;
  color: black;
  outline: none;
  border: none;
  
}

.active{
  background-color: aqua;
  color: white;
}

.listing_display{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listing_display>div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.listing_display>div>img{
  width: 50%;
  min-width: 800px;
  height: 500px;
  object-fit: contain;
  border: 1px solid gray;
}

.listing_display>div>video{
  width: 50%;
  height: 500px;
    min-width: 800px;

  border: 1px solid gray;
}

.listing_display>div>audio{
  width: 50%;
    min-width: 800px;

 }
